
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
body{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline-block;

}
.menu ul li a{
    display: block;
    padding: 40px;
    text-decoration: none;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;


    color: #404040;

    
}
.menu .containerTitle{
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
}
.menu .containerTitle .title{
    display: flex;
    padding: 20px;


    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
    
    color: #1AA29C;
}
.menu .containerTitle .title .grigio{color: #404040;}
.menu .containerTitle .imm{

    width: 50px;
    height: 50px;

    border-radius: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url(logo.png);       
}

.hero{
    display: flex;
    justify-content: space-between;

}

.hero .imm{
    order: 1;
    margin: 0px 78px;
    width: 50%;
    flex-basis: 50%;

}
.hero .left{
    order: 0;
    margin: 78px;
    width: 50%;
    flex-basis: 50%;

}

.hero .left .section{
    display: flex;
    flex-direction: column;
}

.hero .left .section .title{


    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;

    color: #404040;
}
.hero .left .section .title .verde{
    color: #1AA29C;
}
.hero .left .section .subtitle{
    margin: 20px 0px;


    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    color: #404040;
}
.hero .left .container{
    margin: 20px 0px;
    padding: 13px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 5px 10px 24px rgba(26, 162, 156, 0.24);
    border-radius: 14px;
}
.hero .left .container .text{


    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #404040;
}
.hero .left .container .text .numero{
    font-size: 38px;
}
.hero .left .container progress{
    margin:20px 0px;
    width: 100%;

}

.hero .left .container .goalContainer .goal{

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: right;

    color: #D3D3D5;
}
.hero .tasto{
    display: flex;
    flex-direction: row-reverse;

}
.hero .tasto button{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 9px 12px;
    margin: 20px;
    width: 110px;
    border:none;

    background: #1AA29C;
    border-radius: 5px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.powered{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.powered .text{
    padding-top: 15px;
    padding-right: 5px;
    font-family: Source Code Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.26em;
    color: #D3D3D5;

}
@media(max-width:400px)
{
    .menu{
        justify-content: right;
    }
    .menu ul{
        display: none;
        
    }
    .hero .imm{
        display: none;
    }
    .hero .tasto button{
        margin: 20px 0px;
    }
    .hero .left{
        margin: 24px;
        flex-basis: 100%;
    }
    .hero .left .section .title{
        line-height: 60px;
    }
    .hero .left .container{
        margin: 20px 0px;
    }
        
    .hero .left .container .text{
        font-size: 14px;
    }
    .hero .left .container .text .numero{
        font-size: 28px;
    }
}